# Basics
*.py[cod]
*.pyc
__pycache__
.env
.cache

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

# Sqlite
*.db
*.sqlite
*.sqlite3

# Media & Static
media
/staticfiles/*
node_modules
yarn-error.log
*.css.map
.sass-cache

# Celery
celerybeat-schedule
