ENVIRONMENT='dev'
DEBUG=True

# Database
DATABASE_URL='sqlite:///db.sqlite3'

# Application
DB_API_ENDPOINT='https://db.satnogs.org/api/'

# Cache
CACHE_BACKEND='django.core.cache.backends.locmem.LocMemCache'
CACHE_LOCATION='unique-snowflake'
CACHE_CLIENT_CLASS=None
