{% extends "base.html" %}
{% load tags %}

{% load staticfiles %}

{% block title %} - Observation {{ observation.id }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2 id="observation-info"
          data-start="{{ observation.start|date:"U"}}"
          data-end="{{ observation.end|date:"U"}}">
        Observation #{{ observation.id }}
      </h2>
      <div class="timezone text-muted">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        Timeframes are in <a href="#" data-toggle="modal" data-target="#UTCModal">UTC</a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 text-right hidden-xs">
      <h2>
        {% if user.is_authenticated %}
          <a href="#" class="btn" data-toggle="modal" data-target="#HotkeysModal">
            <span class="glyphicon glyphicon-fire" aria-hidden="true" title="Hotkeys"></span>
          </a>
        {% endif %}
        {% if discuss_slug %}
          <a id="obs-discuss"
             data-slug="{{ discuss_slug }}"
             href="{% if has_comments %}{{ discuss_slug }}{% else %}{{ discuss_url }}{% endif %}"
             class="btn btn-primary" target="_blank">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            Discuss
          </a>
        {% endif %}
        {% if can_delete %}
          <a href="{% url 'base:observation_delete' id=observation.id %}" id="obs-delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Observation"></span>
          </a>
        {% endif %}
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 front-border sticky-div">
      <div class="front-line">
        <span class="label label-default">Satellite</span>
        <span class="front-data">
          <a href="#" data-toggle="modal" data-target="#SatelliteModal" data-id="{{ observation.satellite.norad_cat_id }}">
            {{ observation.satellite.norad_cat_id }}  - {{ observation.satellite.name }}
          </a>
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Station</span>
        <span class="front-data">
          {% if observation.ground_station %}
            <a href="{% url 'base:station_view' id=observation.ground_station.id %}">
              {{ observation.ground_station.id }} - {{ observation.ground_station.name }}
            </a>
          {% endif %}
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Observer</span>
        <span class="front-data">
          <a href="{% url 'users:view_user' username=observation.author.username %}">
            {{ observation.author.displayname }}
          </a>
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Status</span>
        <span class="front-data">
          {% if observation.is_verified %}
            <span class="label label-xs label-success" aria-hidden="true"
                  data-toggle="tooltip" data-placement="right"
                  title="Vetted good on {{ observation.vetted_datetime|date:"Y-m-d H:i:s" }} by {{ observation.vetted_user.displayname }}">Good</span>
          {% elif observation.is_no_data %}
            <span class="label label-xs label-danger" aria-hidden="true"
                  data-toggle="tooltip" data-placement="right"
                  title="Vetted bad on {{ observation.vetted_datetime|date:"Y-m-d H:i:s" }} by {{ observation.vetted_user.displayname }}">Bad</span>
          {% elif observation.is_future %}
            <span class="label label-xs label-info" aria-hidden="true"
                  data-toggle="tooltip" data-placement="right"
                  title="This observation is in the future">Pending</span>
          {% else %}
            <span class="label label-xs label-warning" aria-hidden="true"
                  data-toggle="tooltip" data-placement="right"
                  title="This observation needs vetting">Unvetted</span>
            {% if observation.is_past %}
              {% if not observation.is_vetted and can_vet %}
                <div class="pull-right">
                  <a href="https://wiki.satnogs.org/Operation#Rating_observations" target="_blank">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  </a>
                  <a href="{% url 'base:observation_vet_good' id=observation.id %}">
                    <button id="good-data" type="button" class="btn btn-xs btn-success">
                      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                  </a>
                  <a href="{% url 'base:observation_vet_bad' id=observation.id %}">
                    <button id="bad-data" type="button" class="btn btn-xs btn-danger">
                      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </button>
                  </a>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Transmitter</span>
        <span class="front-data">
          {{ observation.transmitter.description }}
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Frequency</span>
        <span class="front-data">
          {{ observation.transmitter.downlink_low|frq }}
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Encoding</span>
        <span class="front-data">
          {{ observation.transmitter.mode|default:"-" }}
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Timeframe</span>
        <span class="front-data datetime-data">
          <span class="datetime-date">{{ observation.start|date:"Y-m-d" }}</span>
          <span class="datetime-time">{{ observation.start|date:"H:i:s" }}</span><br>
          <span class="datetime-date">{{ observation.end|date:"Y-m-d" }}</span>
          <span class="datetime-time">{{ observation.end|date:"H:i:s" }}</span>
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Rise</span>
        <span class="front-data">
          {{ observation.rise_azimuth }}°
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Max</span>
        <span class="front-data">
          {{ observation.max_altitude }}°
        </span>
      </div>
      <div class="front-line">
        <span class="label label-default">Set</span>
        <span class="front-data">
          {{ observation.set_azimuth }}°
        </span>
      </div>
      <div class="front-line">
        {% if observation.has_audio or observation.waterfall %}
          <span class="label label-default">Downloads</span>
          <span class="front-data">
          {% if observation.has_audio %}
            <a href="{{ observation.audio_url }}"
               target="_blank"
               download="">
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-download"></span> Audio
              </button>
            </a>
          {% endif %}
          {% if observation.waterfall %}
            <a href="{{ MEDIA_URL }}{{ observation.waterfall }}"
               target="_blank"
               download="">
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-download"></span> Waterfall
              </button>
            </a>
          {% endif %}
          </span>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12 observation-data" id="{{ observation.id }}"
           data-start="{{ observation.start|date:"U" }}"
           data-end="{{ observation.end|date:"U" }}"
           data-groundstation="{{ observation.ground_station }}">
        <ul class="nav nav-tabs observation-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tab-waterfall"
               aria-controls="tab-waterfall"
               role="tab"
               data-toggle="tab">Waterfall
             </a>
          </li>
          <li role="presentation">
            <a href="#tab-audio"
               aria-controls="tab-audio"
               role="tab"
               data-toggle="tab">Audio
             </a>
          </li>
          <li role="presentation">
            <a href="#tab-data"
               aria-controls="tab-data"
               role="tab"
               data-toggle="tab">
              Data
              {% if observation.demoddata.all %}
                <span class="badge">{{ observation.demoddata.all|length }}</span>
              {% endif %}
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab-waterfall">
            {% if observation.waterfall %}
              <div id="waterfall-{{ observation.id }}" class="waterfall">
                <img class="img-responsive waterfall" src="{{ MEDIA_URL }}{{ observation.waterfall }}" alt="waterfall">
              </div>
            {% else %}
              <div class="notice">
                Waiting for waterfall
              </div>
            {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane" id="tab-audio">
            {% if observation.has_audio %}
              <div id="loading-{{ observation.id }}" class="notice">Loading audio...</div>
              <div class="progress progress-striped active" id="progress-bar-{{ observation.id }}">
                <div class="progress-bar progress-bar-info"></div>
              </div>
              <div class="wave tab-data" id="data-{{ observation.id }}"
                   data-id="{{ observation.id }}"
                   data-audio="{{ observation.audio_url }}"></div>
              <div id="wave-spectrogram"></div>
              <button type="button" class="btn btn-primary btn-xs playpause">
                <span class="glyphicon glyphicon-play"></span>
                <span class="glyphicon glyphicon-pause"></span>
              </button>
              <span id="playback-time-{{ observation.id }}" class="label label-info playback-time"></span>
            {% else %}
              <div class="notice">
                Waiting for audio
              </div>
            {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane tab-data" id="tab-data">
            {% if observation.demoddata.all %}
              {% for demoddata in observation.demoddata.all %}
                <span class="label label-default data-label">{{ demoddata.payload_demod }}</span>
                <div class="well well-sm data-well">
                  {% if demoddata.is_image %}
                    <img src="{{ demoddata.payload_demod.url }}" alt="observation-{{ observation.pk }}" class="img-responsive">
                  {% else %}
                    {{ demoddata.display_payload }}
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <div class="notice">
                Waiting for demoded data
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row visible-xs">
    <div class="col-8-xs col-xs-offset-1">
      {% if discuss_slug %}
        <a id="obs-discuss"
           data-slug="{{ discuss_slug }}"
           href="{% if has_comments %}{{ discuss_slug }}{% else %}{{ discuss_url }}{% endif %}"
           class="btn btn-primary" target="_blank">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          Discuss
        </a>
      {% endif %}
      {% if can_delete %}
        <a href="{% url 'base:observation_delete' id=observation.id %}" id="obs-delete" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Observation"></span> Delete
        </a>
      {% endif %}
    </div>
  </div>
  <div class="row tle-data">
    <div class="col-md-12">
      <h3>TLE used <small>by Celestrak</small></h3>
      <pre>{{ observation.tle.tle1 }}<br>{{ observation.tle.tle2 }}</pre>
    </div>
  </div>

  <!-- UTC Modal -->
  {% include 'includes/utc.html' %}

  <!-- Satellite Modal -->
  {% include 'includes/satellite.html' %}

  <!-- Hotkeys Modal -->
  {% include 'includes/observation-hotkeys.html' %}

{% endblock content %}

{% block javascript %}
  <script src="{% static 'lib/wavesurfer.js/dist/wavesurfer.min.js' %}"></script>
  <script src="{% static 'lib/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js' %}"></script>
  <script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'lib/urijs/src/URI.min.js' %}"></script>
  <script src="{% static 'js/utc.js' %}"></script>
  <script src="{% static 'js/observation_view.js' %}"></script>
  <script src="{% static 'js/satellite.js' %}"></script>
{% endblock javascript %}
