@import 'fonts';
@import 'common';
@import 'status';

#main-navbar {
    margin-top: 2%;
}

#map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.call2action {
    height: 80px;
    margin-top: 70vh;
    margin-bottom: 15vh;
}

.call2action h3 {
    margin-top: 10px;
}

.call2action .btn {
    margin-left: 30px;
}

.call2action .panel {
    background: rgba(255, 255, 255, 0.8);
}

.img-gs-front {
    width: 200px;
    border-radius: 5px;
}

.front-data {
    float: right;
    width: 200px;
    display: flow-root;
}

.front-line {
    margin-top: 12px;
    margin-bottom: 12px;
    clear: both;
}

@media screen and (min-width: 992px) {

    .front-border {
        border-right: 1px solid lightgray;
    }

    .sticky-div {
        position: sticky;
        -webkit-position: sticky; /* for safari */
        top: 15px;
    }
}

#navbar-logo {
    width: 80px;
}

@media screen and (max-width: 550px) {

    .call2action .btn {
        margin-left: 0;
    }
}

.coloredDiv {
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 5px;
}

.edit-profile-buttons {
    margin-right: 30px;
}

.notice {
    margin: 40px;
    text-align: center;
    color: #888;
}

.tab-data {
    margin-top: 25px;
}

.data-label {
    margin-top: 10px;
    display: inline-block;
}

.data-well {
    word-break: break-all;
}

.stage-notice {
    background-color: #d74545;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.9em;
    z-index: 20;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.stage-notice a {
    color: #ffff00;
}

.mapbox-improve-map,
.mapboxgl-ctrl-bottom-left {
    display: none;
}

code.log {
    display: none;
    background-color: transparent;
}

code.log p {
    background-color: black;
    color: white;
    padding: 5px;
}

span.datetime-time {
    margin-left: 10px;
}

.datetime-data {
    margin-bottom: 12px;
}

.red {
    color: red;
}

.lightgreen {
    color: lightgreen;
}

#legend-toggle {
    float: right;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-unvetted {
    background-color: #ff8c00;
    margin-top: -15px;
    margin-left: -7px;
    font-size: .7em;
}

.owner_stations {
    margin-right: 8px;
}

/* Stations
==================== */

#map-station {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.station-view-image {
    object-fit: cover;
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
    float: right;
}

.station-edit-image {
    width: 200px;
    float: right;
}

.alert-error > .errorlist {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.station-antennas .label-info {
    margin: 2px;
}

.antenna-pill {
    color: #333;
    margin: 2px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: help;
}

.total-pill {
    background-color: #072;
}

/* Station
==================== */

#loading-image {
    text-align: center;
    color: #666;
}

.spinner {
    margin: 50px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #666;

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {

    0%, 80%, 100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

#success-filter, #elevation-filter {

    .slider-selection {
        background: #5bc0de;
    }
}

.pass.overlap {
    background: #eee;
}

.overlap-ribbon {
    transform-origin: right top;
    transform: rotate(-90deg) translate(0, -12px);
    float: right;
    background: #d9534f;
    color: white;
    font-weight: bold;
    width: 100px;
    text-align: center;
    margin-top: 3px;
    border-radius: 5px 5px 0 0;
    border: 0 solid #800000;
}

.polar-deg {
    display: block;
    margin-bottom: 15px;
}

.pass-time {
    display: block;
    font-size: 30px;
}

/* Observations
==================== */

.calculation-result {
    display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.timeline-label {
    font-family: sans-serif;
    font-size: 12px;
}

#timeline2 .axis {
    transform: translate(0, 30px);
    -ms-transform: translate(0, 30px); /* IE 9 */
    -webkit-transform: translate(0, 30px); /* Safari and Chrome */
    -o-transform: translate(0, 30px); /* Opera */
    -moz-transform: translate(0, 30px); /* Firefox */
}

.playback-time {
    margin-right: 20px;
    padding: 0.3em;
    font-size: 1em;
    vertical-align: bottom;
    display: inline-block;
}

#loading {
    display: none;
}

.tle {
    display: none;
    margin-top: 5px;
}

#json-renderer {
    padding-left: 18px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.timezone {
    margin: -5px 0 15px 2px;
}

#UTCModal .panel-default {
    margin-bottom: 20px;
}

#UTCModal .panel-default:last-child {
    margin-bottom: 0;
}

#UTCModal .panel-body {
    font-weight: bold;
    font-size: 1.3em;
}

.tle-data {
    margin-bottom: 15px;
}

.waterfall {
    margin-top: 5px;
}

.waterfall img {
    margin: auto;
    padding: 5px;
}

#collapseFilters {
    padding: 15px;
}

#data-selector {
    display: block;
}

.form-group.status-filter {
    display: inline-block;
}

#collapseFilters h4,
#collapseFilters h3 {
    display: inline-block;
}

#collapseFilters label.btn-unknown {
    font-weight: 900;
}

#collapseFilters button.active {
    border: 1px solid #333;
}

#collapseFilters button:not(.active) {
    color: #666;
}

@media screen and (max-width: 835px) {

    .vetting {
        float: none;
        margin-top: 5px;
    }
}

/* Satellites
==================== */

.satellite-info {
    margin-bottom: 20px;
}

#SatelliteModal li {
    margin-bottom: 5px;
}

.satellite-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.satellite-names {
    margin-bottom: 5px;
}

.satellite-img-full {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

.satellite-success {
    width: 100px;
    margin-top: 20px;
}

/* Overwrite display:none
   of bootstrap tab panel */

.tab-content > .tab-pane {
    visibility: hidden;
    display: inline;
    position: fixed;
}

.tab-content > .active {
    visibility: visible;
    position: initial;
}
