#map-station {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.station-view-image {
    object-fit: cover;
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
    float: right;
}

.station-edit-image {
    width: 200px;
    margin: 5px 0;
}

.alert-error > .errorlist {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.station-antennas .label-info {
    margin: 2px;
}

.antenna-pill {
    color: #333;
    margin: 2px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: help;
}

.total-pill {
    background-color: #072;
}

.stations-totals {
    font-size: 1.4rem;
    margin-top: 10px;

    @include medium-and-up {
        float: right;
    }

    span:last-child {
        margin-left: 10px;
    }
}
